.header-container {
    background-color: tan;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.Title {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe{
    display: flex;
    justify-content: flex-start;
}

.login{
    margin-left: auto;
}

.sign-up{
    margin-left: 20px;
}

.menu-container{
    display: flex;
    background-color: rgb(74, 43, 0);
    color: white;
    padding: 20px 0;
}

.menu{
    display: flex;
    justify-content: flex-start;
}

.links{
    display: flex;

}

button{
    text-align: center;
    background-color: white;
    padding: 8px;
    font-size: 20px;
    border: 3px solid black;
    margin: 0px;
}

.login,
.sign-up,
.subscribe {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }