h1.Title {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding: 10px;
    width: 200px;
    margin: 16px auto;
    border-style: dotted;
    border-width: 12px;
    border-color: white;
}

button{
    text-align: center;
    background-color: white;
    padding: 8px;
    font-size: 20px;
    border: 3px solid black;
    margin: 0px;
}

body{
    color: black;
    background-color: rgb(185, 237, 219);
}

.menu{
    display: inline-block;
    background-color: black;
    margin-bottom:16px;
}