body{
    font-family:Roboto;
    margin: 0;
    padding: 0;
}

.first-container{
    /*border: 2px solid red; /*for debugging*/
    background-color: #1F2937; 
    display: flex;
    flex-direction: column;
    display: flex;   
    margin-bottom: 40px;
}

.header{
    /*border: 2px solid blue; /*for debugging*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;  
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 28px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    
}

ul{
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

.content-container{
    /*border: 5px solid white; /*for debugging*/
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.left-text{
    font-size: 16px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.left-top{
    font-size: 42px;
    font-weight: 900;
    color: #F9FAF8;
}

.content-item-left{
    /*border: 5px solid white; /*for debugging*/
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.content-item-right{
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 60px;
    /*border: 5px solid white; /*for debugging*/
}

.content-item-right img{
    width: 300px;
    height: 150px;
}

.button-1 button{
    color: white;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 5px 16px;
}

.second-container{
    margin-bottom: 60px;
}

.sec-header{
    font-size: 32px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.items-container{
    display: flex;
    justify-content: center;
    gap: 48px;

}

.items{
    max-width: 100px;
    flex-wrap: wrap;
    font-size: 12px;
    color: #8b909b;
}

.image-info{
    border: 3px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.third-container{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.quote{
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.author{
    font-size: 16px;
    color: #1F2937;
    width: 350px;
    display: flex;
    justify-content: flex-end;
}

.fourth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 30px;
}

.modal{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 75px;
    width: 600px;
}

.modal-left{
    flex: 1;
}

.modal-top{
    margin-bottom: 3px;
    color: #F9FAF8;
    font-size: 20px;
}

.modal-text{
    color: #E5E7EB;
    font-size: 15px;
}

.modal-right{
    display: flex;
    align-items: center;
}

.button-2 button{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px 20px;
    color: #F9FAF8;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 40px 0;
}

.footer-text{
    color: #E5E7EB;
    font-size: 16px;
}